
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

</head>
<body>

{% block content %}

                  <h1>Login to Your Account</h1><br>
                  <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form>
           {% if forms.errors %}
            <p>
                correct some stuff
            </p>
            {% endif %}

{% endblock content %}
</body>
</html>

