{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<html>
	<head>
		<title>Assistants Tracker</title><!--Titulo de mi web-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1,maxium-scale=1,minum-scale=1">
    <link rel="stylesheet" href="{% static 'alta_static_files/css/bootstrap.min.css' %}">
	</head>
	
	<body>
   <!--Menu Header-->
    <div class="container">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="" class="navbar-brand">Assitants Tracker</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="">Inicio</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h3 class="center-block" style="width:150px;text-align:center">Alta Manual</h3>
                <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                {% csrf_token %} 
                <div>
                        <input id="rfid" name="rfid" type="text" class="form-control" aria-label="..." placeholder="RFID">
                    </div><!-- /input-group -->
                    <br>
                    <div>
                        <input id="name" name="name" type="text" class="form-control" aria-label="..." placeholder="Nombre">
                    </div><!-- /input-group -->
                    <br>
                    <div>
                        <input id="facultad" name="facultad" type="text" class="form-control" aria-label="..." placeholder="Facultad">
                    </div><!-- /input-group -->
                    <br>
                    <div>
                        <input id="id" name="id" type="text" class="form-control" aria-label="..." placeholder="ID">
                    </div><!-- /input-group -->
                    <br>


                    <div>
                        <input id="cargo" name="cargo" type="text" class="form-control" aria-label="..." placeholder="Cargo">
                    </div><!-- /input-group -->
                    <br>


                  <input type="radio" name="suplente" value="yes" checked> Suplente<br>
                  <input type="radio" name="suplente" value="no"> No Suplente<br>


                <h3 class="center-block" style="width:250px;text-align:center">Selección de Imagen:</h3>
                    <input class="btn btn-primary center-block" type="file" name="imageToUpload" id="imageToUpload">
                    <br>
 


                    <button type="submit" name='submit-form1' class="btn btn-primary center-block"><span class="glyphicon glyphicon-floppy-disk"></span> Submit</button>
                </form>
            </div>
        </div>
        <br>
        <div style="background:grey" class="row">
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <h3 class="center-block" style="width:250px;text-align:center">Selección de archivo:</h3>
                    <input class="btn btn-primary center-block" type="file" name="fileToUpload" id="fileToUpload">
                    <br>
                    <input name='submit-form2' class="btn btn-primary center-block" type="submit" value="↑ Upload Doc" name="submit">
                </form>
            </div>
        </div>
    </div>

    <script src=" {% static 'alta_static_files/js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'alta_static_files/js/bootstrap.min.js' %}"></script>
	</body>
</html>