<!DOCTYPE html>
<html lang="en-us">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'imgs/consulta.css' %}" />
</head>
<body>





<div class = "class0" id = "contenedor">
	<h1>Informacion del asistente</h1>
		<div class = "class1" id = "user-img">
		<img src="{{ image_path.url }}" alt="User photo" height="300" width="300">
		</div>

		<div class = "class1" >
			<label name = "nombre">{{ nombre }}</label>
			<label name = "facultad">{{ facultad }}</label>
			<label name = "cargo">{{ cargo }}</label>
			<label name = "suplente">{{ suplente }}</label>
			<label name = "fecha de inicio"> {{ fecha_inicio }}</label>
		</div>

</div>



</body>
</html>